<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Poke edit Page</h1>
  <form method="POST" action="/pokemon/<%=id%>?_method=PUT">

  <!--  NOTE: the form is pre-populated with values for the server-->
  Name: <input type="text" name="name" value="<%=pokemon.name%>"/><br/>
  Image: <input type="text" name="color" value="<%=pokemon.img%>"/><br/>
  <input type="submit" name="" value="Change"/>
  </form>
</body>
</html>