<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Poke index Page</h1>

  <%=pokemon.name %>

  <%= pokemon %>
The Pokemon
<ul class="pokemon">
<!-- we want to execute javascript with a for loop -->

<% for (let i = 0; i < pokemon.length; i++) { %>
    <li><%= pokemon[i].name %></li>
    
  <% } %>

</body>
</html>