<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
  h1 {color:red;}
  ul {color:blue;}
  body {background-image: url("http://www.conceptenvy.com/wp-content/uploads/2016/09/494bdefe6e5fa0d0655c9a1e7e89192e.jpg")}
  </style>
</head>
<body>
  <h1>Poke index Page</h1>

  
<ul class="pokemon">
<!-- we want to execute javascript with a for loop -->

<% for (let i = 0; i < pokemon.length; i++) { %>
    <li><a href="/pokemon/<%= [i] %>/show"><%= pokemon[i].name %></li>
  <% } %>

</ul>



</body>
</html>