<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
  h1 {color:red;}
  ul {color:blue;}
  </style>
</head>
<body>
  <h1>Poke index Page</h1>

  
<ul class="pokemon">
<!-- we want to execute javascript with a for loop -->

<% for (let i = 0; i < pokemon.length; i++) { %>
    <li><a href="<%= [i] %>"><%= pokemon[i].name %></li>
  <% } %>
</ul>

</body>
</html>