<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
  h1 {color:red;}
  ul {color:blue;}
  body {background-image: url("https://static.squarespace.com/static/51d3a8f6e4b085686832d41d/51df43d9e4b0c350225e25b9/51df43dce4b0c350225e3a27/1301107705013/1000w/wallpaper-339945.jpg")}
  </style>
</head>
<body>
  <h1>Poke New Page</h1>
  <form method="POST" action="/pokemon>

  <!--  NOTE: the form is pre-populated with values for the server-->
  Name: <input type="text" name="name" value="<%=pokemon.name%>"/><br/>
  Image: <input type="text" name="color" value="<%=pokemon.img%>"/><br/>
  <input type="submit" name="" value="New"/>
  </form>

</body>
</html>