<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
  h1 {color:red;}
  ul {color:blue;}
  body {background-image: url("http://images6.fanpop.com/image/photos/40000000/Pokemon-Background-Designs40-earn-gold-here-40015982-1920-1080.jpg")}
  </style>
</head>
<body>
  <h1>Poke show Page</h1>

<% for (let key in pokemon) { %>
    <%= pokemon[key] %>
    
  <% } %>
</ul>
</body>
</html>