<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
  h1 {color:red;}
  ul {color:blue;}
  body {background-image: url("https://static.squarespace.com/static/51d3a8f6e4b085686832d41d/51df43d9e4b0c350225e25b9/51df43dce4b0c350225e3a27/1301107705013/1000w/wallpaper-339945.jpg")}
  </style>
</head>
<body>
  <h1>Poke show Page</h1>
<ul>
<% for (let key in pokemon) { %>
    <%= pokemon[key] %>
    <a href ="/pokemon/<%=id%>/edit"><button>Edit</button></a>
    <a href ="/pokemon/new"><button>New</button></a>
  <% } %>

</body>
</html>